.tile_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background: #1e1e1e;
  box-shadow: 0 0 0.5rem rgb(106, 106, 241);
}

.dashboard {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 0 4rem; */
  overflow: hidden;
  padding-right: 3rem;
}

.side_bar {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.carousel_wrapper {
  overflow: hidden;
  display: flex;
  position: relative;
}

.carousel_container {
  display: flex;
  position: relative;
  max-width: max-content;
  max-width: 50rem;
}

.carousel {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  /* transition: transform 0.5s ease-in-out; */
  /* animation: scroll 20s linear infinite; */
}

.carousel_left {
  position: absolute;
  left: 0;
  top: 50%;
  overflow: visible;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
}

.carousel_right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}