.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.search_results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: left;
  padding: 0 1.5rem;
  /* flex-wrap: wrap; */
  overflow-y: scroll;
  max-height: 30rem;
  scrollbar-width: 0px;

  &::-webkit-scrollbar {
    display: none;
  }

  &>div {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(106, 106, 241, 0.4);
    border-radius: 0.5rem;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
      background: rgb(106, 106, 241, 0.1);
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}

.input_group {
  display: flex;
  align-items: center;
  position: relative;

  &>input {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid rgb(106, 106, 241, 0.5);
      /* box-shadow: 0 0 0.5rem rgb(106, 106, 241, 0.5); */
    }
  }
}